<%- include('../layout/head.ejs') %>
<body>
  <%- include('../layout/header.ejs') %>
  <main>
    <section>
        <img src="https://placehold.it/200x200/444">
        <p></p>
        <ul>
          <li>
            <a href="">
              <img src="">
            </a>
          </li>
          <li>
            <a href="">
              <img src="">
            </a>
          </li>
        </ul>
    </section>
    <section>
      <img>
      <p></p>
      <ul>
        <li><a href=""><img></a></li>
        <li><a href=""><img></a></li>
      </ul>
    </section>
    <section>
      <img>
      <p></p>
      <ul>
        <li><a href=""><img></a></li>
        <li><a href=""><img></a></li>
      </ul>
    </section>
    <section>
      <img>
      <p></p>
      <ul>
        <li><a href=""><img></a></li>
        <li><a href=""><img></a></li>
      </ul>
    </section>
  </main>
</body>
</html>