<%- include('../layout/head.ejs') %>
<body>
  <%- include('../layout/header.ejs') %>
  <main>
    <h2>About Us</h2>
    <section>
        <img src="./assets/darci-headshot.jpg">
        <h3>Dar-Ci Calhoun</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis dolore amet illum velit aliquid quod quasi optio dolorum! Unde velit atque voluptas facere aperiam sequi animi nam, repudiandae cumque repellat. Eos autem sint ipsam sapiente explicabo. Quae soluta fugiat quia accusantium expedita deserunt illum nemo. Unde ipsa in animi, possimus minus repellat praesentium est doloribus cupiditate, provident earum deleniti, laboriosam id dolorum. Quod tempora rem voluptatibus nobis, esse expedita soluta incidunt voluptatum doloribus praesentium. Accusamus ratione quae iusto autem veritatis alias. Error at saepe repellat dolor? Qui odio itaque possimus.</p>

        <ul>
          <li><a href="https://github.com/dcalhoun286"><img src="/assets/githubicon.png"></a></li>
        <li><a href="https://www.linkedin.com/in/dlcalhoun/"><img src="/assets/linkedinicon.png"></a></li>
        </ul>
    </section>
    <section>
      <img src="./assets/glenn-headshot.jpg">
      <h3>Glenn Clark</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis dolore amet illum velit aliquid quod quasi optio dolorum! Unde velit atque voluptas facere aperiam sequi animi nam, repudiandae cumque repellat. Eos autem sint ipsam sapiente explicabo. Quae soluta fugiat quia accusantium expedita deserunt illum nemo. Unde ipsa in animi, possimus minus repellat praesentium est doloribus cupiditate, provident earum deleniti, laboriosam id dolorum. Quod tempora rem voluptatibus nobis, esse expedita soluta incidunt voluptatum doloribus praesentium. Accusamus ratione quae iusto autem veritatis alias. Error at saepe repellat dolor? Qui odio itaque possimus.</p>
      <ul>
        <li><a href="https://github.com/Elliron"><img src="/assets/githubicon.png"></a></li>
        <li><a href="https://www.linkedin.com/in/glenn-elliron-clark/"><img src="/assets/linkedinicon.png"></a></li>
      </ul>
    </section>
    <section>
      <img src="./assets/j-dormier-headshot.jpeg">
      <h3>Jason Dormier</h3>
      <p>Hello, I’m Jason Dormier, I come from the game industry as an artist and designer I was also recently a project manager in the construction industry. My core skill sets are design process and software development, full-stack, and games. I’m always looking for new things to learn, and ways to improve. I love the idea and challenge of making systems more efficient, whether it is software using fewer resources, using design process to improve the development cycle or even my own health. I’m looking to join a software development team to utilize my skills in programming, design process, and project management.</p>
      <ul>
        <li><a href="https://github.com/JasonDormier"><img src="/assets/githubicon.png"></a></li>
        <li><a href="https://www.linkedin.com/in/jasondormier/"><img src="/assets/linkedinicon.png"></a></li>
      </ul>
    </section>
    <section>
      <img src="./assets/b-smith-headshot.jpg">
      <h3>Brendan Smith</h3>
      <p>I discovered a deep appreciation for the elegance of complex systems during my studies in evolutionary biology. While working in the guided mountaineering industry, I honed my skills managing multifaceted operations in rapidly changing environments, and learned to draw upon any resources at hand in order to solve a problem. I practiced exhaustive attention to detail, prioritized customer experience, and delivered results under difficult conditions. I see modern computing and data technology as a profoundly powerful and paradigm-shifting tool, and hope to use it to answer questions in ways previously impossible.</p>
      <ul>
        <li><a href=""><img src="/assets/githubicon.png"></a></li>
        <li><a href=""><img src="/assets/linkedinicon.png"></a></li>
      </ul>
    </section>
  </main>
</body>
</html>