<%- include('../layout/head.ejs') %>
<body>
  <%- include('../layout/header.ejs') %>
  <main>
    <h2>About Us</h2>
    <section>
        <img src="./assets/darci-headshot.jpg">
        <h3>Dar-Ci Calhoun</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis dolore amet illum velit aliquid quod quasi optio dolorum! Unde velit atque voluptas facere aperiam sequi animi nam, repudiandae cumque repellat. Eos autem sint ipsam sapiente explicabo. Quae soluta fugiat quia accusantium expedita deserunt illum nemo. Unde ipsa in animi, possimus minus repellat praesentium est doloribus cupiditate, provident earum deleniti, laboriosam id dolorum. Quod tempora rem voluptatibus nobis, esse expedita soluta incidunt voluptatum doloribus praesentium. Accusamus ratione quae iusto autem veritatis alias. Error at saepe repellat dolor? Qui odio itaque possimus.</p>

        <ul>
          <li><a href=""><img src="/assets/githubicon.png"></a></li>
        <li><a href=""><img src="/assets/linkedinicon.png"></a></li>
        </ul>
    </section>
    <section>
      <img src="./assets/glenn-headshot.jpg">
      <h3>Glenn Clark</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis dolore amet illum velit aliquid quod quasi optio dolorum! Unde velit atque voluptas facere aperiam sequi animi nam, repudiandae cumque repellat. Eos autem sint ipsam sapiente explicabo. Quae soluta fugiat quia accusantium expedita deserunt illum nemo. Unde ipsa in animi, possimus minus repellat praesentium est doloribus cupiditate, provident earum deleniti, laboriosam id dolorum. Quod tempora rem voluptatibus nobis, esse expedita soluta incidunt voluptatum doloribus praesentium. Accusamus ratione quae iusto autem veritatis alias. Error at saepe repellat dolor? Qui odio itaque possimus.</p>
      <ul>
        <li><a href=""><img src="/assets/githubicon.png"></a></li>
        <li><a href=""><img src="/assets/linkedinicon.png"></a></li>
      </ul>
    </section>
    <section>
      <img src="https://placehold.it/200x200/444">
      <h3>Jason Dormier</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis dolore amet illum velit aliquid quod quasi optio dolorum! Unde velit atque voluptas facere aperiam sequi animi nam, repudiandae cumque repellat. Eos autem sint ipsam sapiente explicabo. Quae soluta fugiat quia accusantium expedita deserunt illum nemo. Unde ipsa in animi, possimus minus repellat praesentium est doloribus cupiditate, provident earum deleniti, laboriosam id dolorum. Quod tempora rem voluptatibus nobis, esse expedita soluta incidunt voluptatum doloribus praesentium. Accusamus ratione quae iusto autem veritatis alias. Error at saepe repellat dolor? Qui odio itaque possimus.</p>
      <ul>
        <li><a href=""><img src="/assets/githubicon.png"></a></li>
        <li><a href=""><img src="/assets/linkedinicon.png"></a></li>
      </ul>
    </section>
    <section>
      <img src="https://placehold.it/200x200/444">
      <h3>Brendan Smith</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis dolore amet illum velit aliquid quod quasi optio dolorum! Unde velit atque voluptas facere aperiam sequi animi nam, repudiandae cumque repellat. Eos autem sint ipsam sapiente explicabo. Quae soluta fugiat quia accusantium expedita deserunt illum nemo. Unde ipsa in animi, possimus minus repellat praesentium est doloribus cupiditate, provident earum deleniti, laboriosam id dolorum. Quod tempora rem voluptatibus nobis, esse expedita soluta incidunt voluptatum doloribus praesentium. Accusamus ratione quae iusto autem veritatis alias. Error at saepe repellat dolor? Qui odio itaque possimus.</p>
      <ul>
        <li><a href=""><img src="/assets/githubicon.png"></a></li>
        <li><a href=""><img src="/assets/linkedinicon.png"></a></li>
      </ul>
    </section>
  </main>
</body>
</html>