<%- include('../layout/head.ejs') %>

<body>
  <%- include('../layout/header.ejs') %>
  <main>
    <%- include('../layout/search.ejs') %>
    <table>
      <thead>
        <tr>
          <th>Results</th>
          <th>Frequency</th>
          <th>Region</th>
          <th>Competition</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A</td>
          <td>B</td>
          <td>C</td>
          <td>D</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A</td>
          <td>B</td>
          <td>C</td>
          <td>D</td>
        </tr>
      </tbody>  
    </table>
    <table>
      <thead>
        <tr>
          <th>Results</th>
          <th>Frequency</th>
          <th>Region</th>
          <th>Competition</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td>A</td>
          <td>B</td>
          <td>C</td>
          <td>D</td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td>A</td>
          <td>B</td>
          <td>C</td>
          <td>D</td>
        </tr>
      </tbody>  
    </table> 
  </main>
</body>
<%- include('../layout/footer.ejs') %>
</html>