<header>
  <h1>Novus Ideam</h1>
  <nav>
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="">nav item</a>
      </li>
      <li>
        <a href="">nav item</a>
      </li>
      <li>
        <a href="">nav item</a>
      </li>
      <li>
        <a href="">nav item</a>
      </li>
    </ul>
  </nav>
</header>