<form action="/search" method="POST">
  <fieldset>
    <legend>Search</legend>
    <input type="text">
    <select name="category">
      <option value="default" >Select Category</option>
      <option value="">test</option>
      <option value="">test</option>
      <option value="">test</option>
    </select>
    <select name="frequency">
      <option value="default">Select Frequency</option>
      <option value="">test</option>
      <option value="">test</option>
      <option value="">test</option>
    </select>
    <select name="region">
      <option value="default">Select Region</option>
      <option value="">test</option>
      <option value="">test</option>
      <option value="">test</option>
    </select>
    <input type="submit" value="submit">
  </fieldset>
</form>