<form action="/search" method="POST">
  <fieldset>
    <input type="text" name="searchQuery" placeholder="Search" required>
    <button type="submit" name="submit"></button>
    <label for="startTime">Select Start Time</label>
    <input type="date" name="startTime" value="2004-01-01">
    <label for="endTime">Select End Time</label>
    <input type="date" name="endTime" value="2021-01-01">
    <input type="text" name="geo" placeholder="Geocode">
  </fieldset>
</form>